
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 25px;
    background-color:aquamarine;
}
    
.item1 {
    grid-row: span 5 / span 5;
}

.item2 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
}

.item7 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 7;
}

.item3 {
    grid-row: span 6 / span 6;
    grid-column-start: 4;
    grid-row-start: 1;
}

.item4 {
    grid-row: span 5 / span 5;
    grid-column-start: 1;
    grid-row-start: 6;
}

.item5 {
    grid-row: span 6 / span 6;
    grid-column-start: 2;
    grid-row-start: 5;
}

.item6 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 5;
}
        