
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 25px;
    font-family: dm-sans, sans-serif;
    font-weight: 500px;
}


/** Colors 

- Purple 100: hsl(254, 88%, 90%)
- Purple 500: hsl(256, 67%, 59%)

- Yellow 100: hsl(31, 66%, 93%)
- Yellow 500: hsl(39, 100%, 71%)

- White: hsl(0, 0%, 100%)
- Black: hsl(0, 0%, 7%)

**/

.item1 {
    grid-row: span 5 / span 5;
    background-color: hsl(31, 66%, 93%);
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 40px;
    text-align: left;
    border-radius: 10px;
}

.item2 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    background-color: hsl(256, 67%, 59%);
    color: white;
    font-size: 55px;
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 10px;
}

#stars {
    padding-top: 1px;
}
.item2child {
    font-size: 15px;
}

.item3 {
    grid-row: span 6 / span 6;
    grid-column-start: 4;
    grid-row-start: 1;
    background-color: hsl(254, 88%, 90%);
}

.item4 {
    grid-row: span 5 / span 5;
    grid-column-start: 1;
    grid-row-start: 6;
    background-color: hsl(39, 100%, 71%);
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 30px;
    padding-bottom: 70px;
    padding-left: 20px;
    text-align: left;
    border-radius: 10px;
}

.item5 {
    grid-row: span 6 / span 6;
    grid-column-start: 2;
    grid-row-start: 5;
    background-color: hsl(0, 0%, 100%);
}

.item6 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 5;
    background-color: hsl(39, 100%, 71%);
}
        
.item7 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 7;
    background-color: hsl(256, 67%, 59%);
}
